{% extends "base.html" %}

{% block content %}

<section class="hero">

    <h1>
        Run and Manage Amazing Hackathons
    </h1>

    <p>
        Create hackathons, build teams,
        submit projects, and evaluate winner
        from one platform.

        Create events, build projects,
        and collaborate with innovators.
    </p>

    <div class="hero-buttons">
         <a href="/register/organizer" class="btn-primary">
            Create as Organizer
         </a>

         <a href="/register/participant" class="btn-secondary">
            Join as Participant      
         </a>

    </div>
    
</section>

{% endblock %}